<!doctype html>
<html>
	<head>
    	<title>Flight Predictor</title>
 		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">		
  		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  	</head>
	<body class="container">
		<h1>
			<div class="center">
				<img src="../../static/logo.png" width="80px"/>
				Welcome to Team10United Flight Review
			</div>
		</h1>
		
		
		{% from "_formhelpers.html" import render_field %}
		 <div class="center">
			<div class="card" style="border-radius: 40px 40px 40px 40px;border: 1px solid black">
				<div class="card-content container brown-text">
					<span class="card-title red-text">Please Fill All Fields!</span>
					<form method=post action="/analysis">
						<div class="input-field col s6">
							<input type="text" class="validate" id="nameText" name="nameText" required="true">
							<label for="icon_prefix">Your Name</label>
					 	</div>
					 	<div>
					 		<label for="sentimentTextarea">Select Airline</label>
							<select class="input-field col s12 browser-default" id="airline" name="airline" required="true">
							    <option value="American">American</option>
							    <option value="Delta">Delta</option>
							    <option value="Southwest">Southwest</option>
							    <option value="United">United</option>
							    <option value="US">US</option>
							    <option value="Virgin America">Virgin America</option>
							</select>
					 	</div>
					 	<div class="input-field col s12">
					    	
					    	<textarea class="materialize-textarea" id="sentimentTextarea" name="sentimentTextarea" rows="3" required="true"></textarea>
					    	<label for="sentimentTextarea">Sentiment</label>
					  	</div>
					  	<div>
					  		<button class="btn waves-effect black white-text waves-light" type="submit" name="submit_btn">Submit</button>
					  	</div> 
					</form>
				</div>
			</div>
		</div>
	</body>
</html>